@import "tailwindcss";

@keyframes sheetUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-sheet {
  animation: sheetUp 0.25s ease-out;
}

@theme {
  /* Adicionando um breakpoint de 900px */
  --breakpoint-ml: 67.90rem;
  --breakpoint-hg: 70rem;
}

